{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
  $('#txtDOB').datetimepicker({
    format: 'd/m/Y',
    timepicker: false,
    mask: true,
  });
</script>
<script>
    $('.updateprofile').on('click',function(){
    const id = $(this).data('id');
    $('#txtUserID').val(id);
    $('#updateprofileteacher').submit();
  })
</script>
{{/section}}
{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
{{/section}}

<div class="card">
    <div class="card-header">
        <h2 class="d-flex justify-content-center">Thông tin cá nhân giáo viên</h2>
    </div>
    <div class="card-body" style="font-size: x-large;">
        <form action="/teacher/profile" id="updateprofileteacher" method="POST" >
        <input type="hidden" name="UserID" id="txtUserID">
            <div class="card">
                <label for="">Họ và tên giáo viên</label>
                <input type="text" name="Name" id="txtName" value="{{users.Name}}">
                <label for="">Thông tin liên lạc (Email) </label>
                <input type="email" name="Email" id="txtEmail" value="{{users.Email}}">
                <label for="">Ngày tháng năm sinh</label>
                <input type="text" name="DOB"  id="txtDOB" value="{{DOB}}">
                <label for="">Giới thiệu bản thân</label>
             <textarea type="text"  name="Des" id="txtDes">{{users.Des}}</textarea>
            </div>
        </form>
    </div>
    <div class="card-body" style="font-size: x-large;">
        <div>Danh sách khóa học đã đăng</div>
        {{#each courses}}
           <div class="card" style="background: rgb(100, 197, 201);" >
                <div>Tên khóa học</div>
                <div>{{Name}}</div>
                <div class="d-flex justify-content-start">
                {{#if Status}}
                    <span class="badge badge-pill badge-danger float-right">Hoàn thành</span>
                {{else}}
                    <span class="badge badge-pill badge-danger float-right">Chưa hoàn thành</span>
                {{/if}}
                <div>
                <a style="font-size: x-large;"  name="" id="" class="btn btn-primary" href="/teacher/updatecourses/{{CourseID}}" role="button">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                    Chỉnh sửa
                </a></div>
                </div>
           </div>
        {{/each}}
    </div>
</div>
<div class="card-footer" >
                    <a data-id="{{users.UserID}}" class="btn btn-primary updateprofile" href="#" role="button">
                      <i style="font-size: x-large;" class="fa fa-check" aria-hidden="true"></i>
                       Save
                    </a>
    </div>