{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
  {{#each this.courses}}
    $(function () {
      $(`#rateYo{{CourseID}}`).rateYo({
        rating: {{AvgStar}},
        readOnly: true,
        starWidth: "15px",
        spacing: "3px"
      });
    });
  {{/each}}

  $(document).ready(function(){
  $('.CourseCarousel').slick({
    dots: true,
    infinite: true,
    slidesToShow: 4,
    slidesToScroll: 4,
    arrows: true
  });
});
</script>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<style>
  .slick-prev:before, .slick-next:before { 
    color:red !important;
    font-size: 2.5rem;
  }
  .slick-prev, .slick-next {
    width: 2.5rem;
    height: 2.5rem;
    z-index: 2;
  }
  .slick-list {
      width: 95%;
      margin: 0 auto;
  }

  .slick-prev {
      left: 0;
  }

  .slick-next {
      right: 0;
  }

</style>
{{/section}}

{{#if this.empty}}
  <div class="mt-5 mx-5">
    <h3>Không có dữ liệu</h3>
  </div>
{{else}}
  <div class="container-fluid mt-5">
    {{#if this.all}}
      <h2 class="mx-5 mb-5">All Courses</h2>
    {{else}}
      {{#if this.web}}
        <h2 class="mx-5 mb-5">All Web Courses</h2>
      {{else}}
        {{#if this.mobile}}
          <h2 class="mx-5 mb-5">All Mobile Courses</h2>
        {{else}}
          <h2 class="mx-5 mb-5">All {{this.catName}} Courses</h2>
        {{/if}}
      {{/if}}
    {{/if}}
    <div class="card-columns mx-5" >
      {{#each this.courses}}
        <div class="card mx-5" style="width: 18rem;">
            <img class="card-img-top" src="/public/images/Courses/{{CourseID}}/tiny.jpg" alt="{{Name}}" title="{{Name}}">
            <div class="card-body">
              <h5 class="card-title font-weight-bold">{{Name}}</h5>
              <div>{{TeacherName}}</div>
              <div class="card-text font-weight-light">{{CatName}}</div>
              <div class="d-flex flex-row">
                <div style="color: #be5a0e;" class="font-weight-bold">{{AvgStar}}</div>
                <div id="rateYo{{CourseID}}" class="pt-1"></div>
                <div>({{format2 Ratings}})</div>
              </div>
              <p class="card-text text-danger font-weight-bold">{{format1 Price}}</p>
              <a class="stretched-link" href="/courses/detail/{{CourseID}}"></a>
            </div>
        </div>
      {{/each}}
    </div>
    <nav class="d-flex justify-content-center">
      <ul class="pagination">
        <li class="page-item {{#unless can_go_prev}}disabled{{/unless}}">
          <a class="page-link" href="?page={{prev_value}}" tabindex="-1">
            <i class="fa fa-backward" aria-hidden="true"></i>
          </a>
        </li>
        {{#each this.page_items}}
        {{#if this.isActive}}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="javascript:;">{{value}}<span class="sr-only">(current)</span></a>
          </li>
        {{else}}
          <li class="page-item">
            <a class="page-link" href="?page={{value}}">{{value}}</a>
          </li>
        {{/if}}
        {{/each}}
    
        <li class="page-item {{#unless can_go_next}}disabled{{/unless}}">
          <a class="page-link" href="?page={{next_value}}">
            <i class="fa fa-forward" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </nav>
</div>
{{/if}}