{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
<script>
  {{#with course}}
    $(function () {
      $(`#rateYo1`).rateYo({
        rating: {{AvgStar}},
        readOnly: true,
        starWidth: "15px",
        spacing: "3px"
      });
      $(`#rateYo2`).rateYo({
        rating: {{AvgStar}},
        readOnly: true,
        starWidth: "20px",
        spacing: "3px"
      });
    });
  {{/with}}

  {{#each feedback}}
   $(function () {
      $(`#rateYoFb{{FeedbackID}}`).rateYo({
        rating: {{Star}},
        readOnly: true,
        starWidth: "15px",
        spacing: "3px"
      });
   });
  {{/each}}

  {{#each this.courseRelate}}
    $(function () {
        $(`#rateYoR{{CourseID}}`).rateYo({
          rating: {{AvgStar}},
          readOnly: true,
          starWidth: "15px",
          spacing: "3px"
        });
    });
  {{/each}}
  $(function () {
      $(`#rateYoRate`).rateYo({
        rating: 4,
        fullStar: true,
        starWidth: "30px",
        spacing: "3px"
      });
  });
  $(function () {
      $(`#rateYoRate1`).rateYo({
        rating: 1,
        readOnly: true,
        starWidth: "15px",
        spacing: "3px"
      });
  });
  $(function () {
      $(`#rateYoRate2`).rateYo({
        rating: 2,
        readOnly: true,
        starWidth: "15px",
        spacing: "3px"
      });
  });
  $(function () {
      $(`#rateYoRate3`).rateYo({
        rating: 3,
        readOnly: true,
        starWidth: "15px",
        spacing: "3px"
      });
  });
  $(function () {
      $(`#rateYoRate4`).rateYo({
        rating: 4,
        readOnly: true,
        starWidth: "15px",
        spacing: "3px"
      });
  });
  $(function () {
      $(`#rateYoRate5`).rateYo({
        rating: 5,
        readOnly: true,
        starWidth: "15px",
        spacing: "3px"
      });
  });

  $('#formAdd').on('submit', function (e) {
    e.preventDefault();
    const star = $("#rateYoRate").rateYo("option", "rating");
    $('#txtStar').val(star);
    $('#formAdd').off('submit').submit();
    
  });

  $('#formEdit').on('submit', function (e) {
    e.preventDefault();
    const FeedbackID = $('#txtFbID').val();
    const star = $(`#rateYoFb${FeedbackID}`).rateYo("option", "rating");
    $('#txtStarEdit').val(star);
    $('#formEdit').off('submit').submit();
  });

  $('#btnEdit').click( function () {
    const FeedbackID = $('#txtFbID').val();
    console.log(FeedbackID);
    $(`#rateYoFb${FeedbackID}`).rateYo("option", "readOnly", false);
    $(`#rateYoFb${FeedbackID}`).rateYo("option", "fullStar", true);
    $(`#rateYoFb${FeedbackID}`).rateYo("option", "starWidth", "30px");
    $('#newReview').removeAttr('hidden');
    $('#btnSubmit').removeAttr('hidden');
    $('#oldReview').attr("hidden", "hidden");
  });

  $('#videoBtn').on('click', function () {
    
  });

</script>
{{/section}}  

{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
{{/section}}

<div class="bg-dark d-flex flex-row p-5" style="width: 100%">
  {{#with firstcourse}}
  <div class="mr-5">
    <h4 class="text-center text-light">Preview this course</h4>
    <video id="my-video" class="video-js" controls preload="auto" width="560" height="315"
    poster="/public/images/Courses/{{CourseID}}/Contents/Content1.webp" data-setup="{}">
      <source src="/public/videos/{{CourseID}}/Content1.mp4" type="video/mp4"/>
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
      </p>
    </video>
  </div>
  {{/with}}
  <div class="pt-4">
    {{#with course}}
    <h2 class="text-white font-weight-bold">{{Name}}</h2>
    <h5 class="text-light font-weight-normal" >{{TinyDes}}</h5>
    <div class="d-flex flex-row">
      <div style="color: #be5a0e;" class="font-weight-bold">{{AvgStar}}</div>
      <div id="rateYo1" class="pt-1"></div>
      <div class="text-light">({{format2 Ratings}} ratings)</div>
      <div class="text-light ml-1">{{format2 StudentCount}} students</div>
    </div>
    <p class="text-light">
      <i class="fa fa-exclamation-circle"></i>
      Last updated {{formatDate DateUpdate}}
      </p>
    <h3 class="card-text text-danger font-weight-bold">{{format1 Price}}</h3>
    {{/with}}
    <div class="d-flex flex-row">
      {{#if isAuth}}
        {{#if this.isRegister}}
          {{#with course}}
          <a class="btn btn-md btn-success addItem" href="#" role="button">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            Enroll Course
          </a>
          {{/with}}
          {{#if this.isFav}}
          {{#with course}}
          <a class="btn btn-md btn-danger addItem ml-2" href="/courses/changeFav?id={{CourseID}}&isFav=0" role="button">
            <i class="fa fa-heart" aria-hidden="true"></i>
            Watchlist
          </a>
          {{/with}}
          {{else}}
           {{#with course}}
          <a class="btn btn-md btn-outline-danger addItem ml-2" href="/courses/changeFav?id={{CourseID}}&isFav=1" role="button">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            Watchlist
          </a>
          {{/with}}
          {{/if}} 
        {{else}}
          {{#if this.isAddCart}}
            <a class="btn btn-md btn-success addItem" href="#" role="button">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            Go to cart
            </a>
          {{else}}
            <form action="/cart/add" method="POST">
            {{#with this.course}}
            <input type="hidden" value="{{CourseID}}" name="ID">
            {{/with}}
            <button type="submit" class="btn btn-md btn-success addItem">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              Add to cart
            </button>
          </form>
          {{/if}}
        {{/if}}
      {{else}}
        <a class="btn btn-md btn-success addItem" href="/account/login" role="button">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          Add to cart
        </a>
        <a class="btn btn-md btn-danger addItem ml-2" href="/account/login" role="button">
          <i class="fa fa-heart-o" aria-hidden="true"></i>
          Watchlist
        </a>
      {{/if}}
    </div>
  </div>
</div>

{{#with course}}
<div class="border m-5" >
  <h3 class="p-3">Description</h3>
  <div class="p-3">{{{FullDes}}}</div>
</div>
{{/with}}

<h3 class="ml-5">Course content</h3>
<div class="mx-5">

  {{!-- <div class="modal fade" id="VideoModal" tabindex="-1" role="dialog" aria-labelledby="VideoLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            {{#with course}}
            <h5 class="modal-title" id="VideoModalLabel">{{Name}}</h5>
            {{/with}}
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body d-flex justify-content-center">
            <video id="my-video" class="video-js" controls preload="auto" width="560" height="315"
            poster="/public/images/Courses/1/Contents/Content1.webp" data-setup="{}">
              <source src="/public/videos/1/Content1.mp4" type="video/mp4"/>
              <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
              <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
              </p>
            </video>
            <h5 id="videoTitle"></h5>
          </div>
        </div>
      </div>
    </div> --}}
    
  {{#each coursecontent}} 

<div class="modal fade" id="VideoModal{{Index}}" tabindex="-1" role="dialog" aria-labelledby="VideoLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="VideoModalLabel">{{Title}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body d-flex justify-content-center">
            <video id="my-video" class="video-js" controls preload="auto" width="560" height="315"
            poster="/public/images/Courses/{{Index}}/Contents/Content{{Index}}.webp" data-setup="{}">
              <source src="/public/videos/{{Index}}/Content{{Index}}.mp4" type="video/mp4"/>
              <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
              <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
              </p>
            </video>
          </div>
        </div>
      </div>
    </div>

    <a id="videoBtn" class="card card-body ml-4 d-flex flex-row mt-3" role="button" data-toggle="modal" data-target="#VideoModal{{Index}}">
      <i class="fa fa-play-circle mt-1 mr-1 " aria-hidden="true"></i>
      {{Title}}
    </a>
  {{/each}}
</div>

<h3 class="ml-5 mt-5"> Instructor</h3>
<div class="mx-5 border p-3">
  {{#with courseOfTeacher}}
    <h4 class="text-success">{{Name}}</h4>
    <div class="d-flex flex-row">
      <p class="mr-3"><i class="fa fa-star mr-1" aria-hidden="true"></i>{{format3 Rating}} Rating</p>
      <p class="mr-3"><i class="fa fa-trophy mr-1" aria-hidden="true"></i>{{format2 Reviews}} Reviews</p>
      <p class="mr-3"><i class="fa fa-users mr-1" aria-hidden="true"></i>{{format2 Students}} Students</p>
      <p class="mr-3"><i class="fa fa-play-circle mr-1" aria-hidden="true"></i>{{format2 Courses}} Courses</p>
    </div>
    <p>{{Des}}</p>    
  {{/with}}
</div>

<h3 class="mx-5 mt-5 mb-3">Student feedback</h3>
<div class="mx-5 d-flex flex-row">
  {{#with course}}
  <div class="mr-5">
    <h1 class="display-3 font-weight-bold" style="color:#be5a0e;">{{AvgStar}}</h1>
    <div id="rateYo2" class="pb-1"></div>
    <h5 style="color:#be5a0e;">Course Rating</h5>
  </div>
  {{/with}}

  <div style="width: 50%">
    <div class="progress mb-3">
      <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress mb-3">
      <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress mb-3">
      <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress mb-3">
      <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>

  <div class="mx-3">
    <div id="rateYoRate5" class="mb-3"></div>
    <div id="rateYoRate4" class="mb-3"></div>
    <div id="rateYoRate3" class="mb-3"></div>
    <div id="rateYoRate2" class="mb-3"></div>
    <div id="rateYoRate1"></div>
  </div>

  <div>
    <div class="mb-1">25%</div>
    <div class="mb-2">25%</div>
    <div class="mb-1">25%</div>
    <div class="mb-2">25%</div>
    <div>25%</div>
  </div>
</div>

<h3 class="mx-5 mt-5">Reviews</h3>
{{#if isAuth}}
  {{#if this.isRegister}}
    {{#unless FeedbackID}}
    <div id="rateYoRate" class="pb-1 mx-auto"></div>
    <form action="/courses/feedback/add/" method="POST" class="mx-5" id="formAdd">
      <div class="form-group">
        <label for="txtReview">Type your review here:</label>
        <textarea class="form-control" name="Review" id="txtReview" rows="3" required></textarea>
      </div>
      <input type="hidden" class="form-control" name="Star" id="txtStar">
      {{#with course}}
      <input type="hidden" class="form-control" value="{{CourseID}}" name="CourseID">
      {{/with}}
      <button type="submit" class="btn btn-primary">Send</button>
    </form>
    {{/unless}}
  {{/if}}
{{/if}}

{{#each feedback}}
 {{#if (equal this.FeedbackID ../FeedbackID)}}
  <div class="mx-5 border p-3 mt-3">
      <div class="d-flex flex-row">
        <h6 class="mr-auto">{{Name}}</h6>
        <button class="btn btn-sm btn-primary mr-3" id="btnEdit" type="button">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
        <a class="btn btn-sm btn-danger" href="/courses/feedback/delete?id={{FeedbackID}}" role="button">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
      </div>
    
    <form action="/courses/feedback/edit/" method="POST" id="formEdit">
      <div id="rateYoFb{{FeedbackID}}" class="pb-1"></div>
      <p class="ml-1" id="oldReview">{{Comment}}</p>

      <textarea class="form-control my-3" name="Review" id="newReview" rows="3" hidden>{{Comment}}</textarea>
      
      <input type="hidden" class="form-control" name="Star" id="txtStarEdit">
      <input type="hidden" class="form-control" value="{{FeedbackID}}" name="FeedbackID" id="txtFbID">
      <button class="btn btn-primary" type="submit" id="btnSubmit" hidden>Save</button>
    </form>
  </div>
  {{else}}
  <div class="mx-5 border p-3 mt-3">
    <h6 class="mr-auto">{{Name}}</h6>
    <div id="rateYoFb{{FeedbackID}}" class="pb-1"></div>
    <p class="ml-1">{{Comment}}</p>
  </div>
  {{/if}}
{{/each}}

<h3 class="m-5">Student also bought</h3>
{{#each this.courseRelate}}
  <div class="card mb-3 mx-auto" style="width: 60rem;">
    <a class="stretched-link" href="/courses/detail/{{CourseID}}"></a>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img class="card-img-top" src="/public/images/Courses/{{CourseID}}/tiny.jpg" alt="{{Name}}" title="{{Name}}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title font-weight-bold">{{Name}}</h5>
          <div>{{TeacherName}}</div>
          <div class="card-text font-weight-light">{{CatName}}</div>
          <div class="d-flex flex-row">
            <div style="color: #be5a0e;" class="font-weight-bold">{{AvgStar}}</div>
            <div id="rateYoR{{CourseID}}" class="pt-1"></div>
            <div>({{format2 Ratings}})</div>
          </div>
          <div class="card-text text-danger font-weight-bold">{{format1 Price}}</div>
        </div>
      </div>
    </div>
  </div>
{{/each}}