{{#section 'js'}}
<script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
<script>
    
{{#each Contents}}
    $(document).ready(function() {
        $(`#checkbox{{content.Index}}`).change(function() {
            var numberOfChecked = $('input:checkbox:checked').length;
            var totalCheckboxes = $('input:checkbox').length;
            var percent = ((numberOfChecked / totalCheckboxes)*100).toFixed(0);

            $("#txtPercent").text(`(${percent}%)`);
            $("#progress-bar").css('width', `${percent}%`);
            if(this.checked) {
                $.getJSON(`/courses/learn/change-status?courseID={{content.CourseID}}&index={{content.Index}}&status=1`, function (data) {
                });
            }
            else{
                $.getJSON(`/courses/learn/change-status?courseID={{content.CourseID}}&index={{content.Index}}&status=0`, function (data) {
                });
            }
           
        });
    })
{{/each}}

    var myPlayer = videojs('my-video');
    myPlayer.on('timeupdate', function() {
        console.log(this.currentTime());
    });
</script>
{{/section}}  

{{#section 'css'}}
<link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
<style>
    .sidenav {
  height: 100%;
  width: 450px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
}

.sidenav div:hover {
    background-color: cornflowerblue;
}
</style>
{{/section}}

    <div class="mx-4 mt-2" style="width: 1000px">
        {{#with currentContent}}
        <div>
            <h4 class="mb-3">{{Title}}</h4>
            <video id="my-video" class="video-js" controls preload="auto" width="1000" height="515"
            poster="/public/images/Courses/{{CourseID}}/Contents/Content{{Index}}.webp" data-setup="{}">
            <source src="/public/videos/{{CourseID}}/Content{{Index}}.mp4" type="video/mp4"/>
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
            </video>
        </div>
        {{/with}}
        <hr/>

        <div class="border mb-3" >
            <div class="d-flex flex-box">
                <h3 class="p-3">Your Progress</h3>
                <h5 class="mt-4" id="txtPercent">({{this.percent}}% Complete)</h5>
            </div>
            <div>
                <div class="progress mb-3 ml-3 mr-5">
                    <div id="progress-bar" class="progress-bar" role="progressbar" style="width: {{this.percent}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>

        {{#with Course}}
        <div class="border" >
            <h3 class="p-3">Course Description</h3>
            <div class="p-3">{{{FullDes}}}</div>
        </div>
        {{/with}}
    </div>
    
    <div class="sidenav mt-5 border">
        <h4 class="text-center">Course content</h4>
        <hr/>
        {{#each Contents}}
        {{#if this.isActive}}
        <div class="d-flex flex-row bg-info mb-3 pl-3">
            {{#if ./isDone}}
            <input type="checkbox" id="checkbox{{content.Index}}" class="mt-3" checked>
            {{else}}
            <input type="checkbox" id="checkbox{{content.Index}}" class="mt-3">
            {{/if}}   
            <a href="#">
                <i class="fa fa-play-circle mt-1 mr-1 text-danger" aria-hidden="true"></i>
                {{content.Index}}.{{content.Title}}
            </a>
        </div>
        {{else}}
        <div class="d-flex flex-row mb-3 pl-3">
            {{#if ./isDone}}
            <input type="checkbox" id="checkbox{{content.Index}}" class="mt-3" checked>
            {{else}}
            <input type="checkbox" id="checkbox{{content.Index}}" class="mt-3">
            {{/if}}   
            <a href="/courses/learn?courseID={{content.CourseID}}&index={{content.Index}}">
                <i class="fa fa-play-circle mt-1 mr-1" aria-hidden="true"></i>
                {{content.Index}}.{{content.Title}}
            </a>
        </div>
    
        {{/if}}
        
        {{/each}}
    </div>
