{{#section 'js'}}
<script>
  $('.blockItem').on('click', function () {
    const CourseID = $(this).data('id_block');
    $('#txtProId_block').val(CourseID);
    $('#frmblockitem').submit();
  });

  $('.unblockItem').on('click', function () {
    const CourseID = $(this).data('id_unblock');
    $('#txtProId_unblock').val(CourseID);
    $('#frmunblockItem').submit();
  });




</script>
{{/section}}
<div class="card" class="">
   <form id="frmblockitem" action="/admin/courses/block" method="POST">
    <input type="hidden" name="CourseID" id="txtProId_block">
  </form>
  <form id="frmunblockItem" action="/admin/courses/unblock" method="POST">
    <input type="hidden" name="CourseID" id="txtProId_unblock">
  </form>
  <div class="d-flex justify-content-between" style="font-size:x-large;">
  <h5 class="card-header">
    {{courses.Name}}
  </h5>
    {{#if (equal courses.Status -1)}}
      <span class="badge badge-pill badge-danger float-right">Khóa học đã bị khóa</span>
    {{/if}}
   {{#if courses.Status}}
      <span class="badge badge-pill badge-danger float-right">Hoàn thành</span>
    {{else}}
         <span class="badge badge-pill badge-danger float-right">Chưa hoàn thành</span>
   {{/if}}
   </div>
  <div class="card-body" style="font-size: x-large;" >
    <div class="d-flex justify-content-center">
    <img  width="350" height="200" src="/public/images/Courses/{{courses.CourseID}}/tiny.jpg" alt="{{courses.Name}}" title="{{courses.Name}}">
    </div>
    <div class="d-flex justify-content-center">
    <div for="">Tên giáo viên:&nbsp;</div>
    <div>{{teacher.Name}}</div>
    </div>
    <div <div class="d-flex justify-content-center">
     <div for="">Mô tả ngắn khóa học:&nbsp;</div>
    <div>{{courses.TinyDes}}</div>
    </div>
     <div <div class="d-flex justify-content-center">
    <p class="card-text mt-3">Price:&nbsp; <span class="text-danger font-weight-bold">{{courses.Price}}</span></p>
    </div>
    <form  method="POST" action="/admin/courses/del">
    <input type="hidden"  name="CourseID" id="#txtID" value="{{courses.CourseID}}">
      <div class="row form-group">
        <div class="col-sm-4">
          <div class="input-group mb-3 ">
            <a class="btn btn-primary mr-2" href="/admin/courses" role="button">
                 <i class="fa fa-backward" aria-hidden="true"></i>
                    Back to List
            </a>
            {{#if (equal courses.Status -1)}}
              <a data-id_unblock="{{courses.CourseID}}"
             class="btn btn-primary mr-2 unblockItem" role="button">
                 <i class="fa fa-key" aria-hidden="true"></i>
                 Unblock
            </a>
            {{else}}
              <a data-id_block="{{courses.CourseID}}"
             class="btn btn-primary mr-2 blockItem"  role="button">
                 <i class="fa fa-lock" aria-hidden="true"></i>
                 Block
            </a>
            {{/if}}
            {{!-- <a data-id_block="{{courses.CourseID}}"
             class="btn btn-primary mr-2 blockItem"  role="button">
                 <i class="fa fa-lock" aria-hidden="true"></i>
                 Block
            </a>
            <a data-id_unblock="{{courses.CourseID}}"
             class="btn btn-primary mr-2 unblockItem" role="button">
                 <i class="fa fa-key" aria-hidden="true"></i>
                 Unblock
            </a> --}}
             <button type="submit" class="btn btn-outline-danger mr-2">
               <i class="fa fa-trash" aria-hidden="true"></i>
              Delete
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>