<nav class="navbar navbar-expand-lg navbar-light bg-light shadow sticky-top">
    <a class="navbar-brand" href="/">
      <i class="fa fa-home fa-lg"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Online Academy<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Categories</a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/courses/all"> IT &raquo </a>
              <ul class="submenu dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/courses/web"> Web &raquo </a>
                  <ul class="submenu dropdown-menu">
                    {{#each lcCategories}}
                      {{#if CatType}}
                        <li><a class="dropdown-item" href="/courses/web/{{CatName}}">{{CatName}}</a></li>
                      {{/if}}
                    {{/each}}
                  </ul>
                  <li>
                    <a class="dropdown-item" href="/courses/mobile"> Mobile &raquo </a>
                    <ul class="submenu dropdown-menu">
                        {{#each lcCategories}}
                          {{#unless CatType}}
                            <li><a class="dropdown-item" href="/courses/mobile/{{CatName}}">{{CatName}}</a></li>
                          {{/unless}}
                        {{/each}}
                    </ul>
                  </li>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>

      <form id="formSearch" class="form-inline my-2 my-lg-0" method="POST" action="/courses/search/redirect">
        <input class="form-control mr-sm-2" type="search" placeholder="Search for anything" aria-label="Search" id="SearchContent">
        <button id="buttonSearch" class="btn btn-outline-success my-2 my-sm-0" type="submit">
          <i class="fa fa-search"></i>
          Search
        </button>
      </form>
      
      <form id="frmLogout" method="POST" action="/account/logout"></form>
      
      <ul class="navbar-nav ml-auto">
      {{#if isAuth}}
      <li class="nav-item mr-3">
      <a name="" id="" class="btn btn-inline" href="/teacher" role="button">
         <i class="fa fa-user" aria-hidden="true"></i>
          Teacher
        </a>
        </li>
      <li class="nav-item mr-3">
        <a class="nav-link" href="/cart">
          <i style="font-size:24px" class="fa fa-shopping-cart" aria-hidden="true"></i>
          {{#if cartSummary}}
            <span id='lblCartCount' class="badge badge-danger">{{cartSummary}}</span>
          {{/if}}
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user" aria-hidden="true"></i>
          Welcome, <b>{{authUser.Name}}</b>!
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/account/profile">
            <i class="fa fa-user" aria-hidden="true"></i>
            Profile
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript: $('#frmLogout').submit();">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            Sign Out
          </a>
        </div>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/teacher/login">
          <i class="fa fa-sign-in" aria-hidden="true"></i>
          Teacher Sign In
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account/login">
          <i class="fa fa-sign-in" aria-hidden="true"></i>
          Sign In
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account/register">
          <i class="fa fa-user-plus" aria-hidden="true"></i>
          Register
        </a>
      </li>
      {{/if}}
    </ul>
  </div>
</nav>